input {
  border: none;
  outline: none;
  background: transparent; /* Делает фон прозрачным */
  position: relative; /* Необходимо для позиционирования псевдоэлемента */
}
.icon {
  user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  position: relative;
  top: 600px;
  left: 43%;
  border-radius: var(--br-3xs);
  width: 411.2px;
  height: 411.2px;
  object-fit: contain;
}
.icon1 {
  user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  position: absolute;
  top: 678px;
  left: 0px;
  border-radius: var(--br-3xs);
  width: 301px;
  height: 301px;
  object-fit: contain;
}
.b18 {
  position: absolute;
  top: calc(50% - 300px);
  left: calc(50% - 190px);
  font-size: var(--font-size-17xl);
  display: inline-block;
  color: var(--color-gray);
  width: 430px;
  height: 50px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.div28 {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 100px);
  border-radius: var(--br-31xl);
  background-color: var(--color-sienna);
  width: 200px;
  height: 60px;
}
.b19 {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 60px;
  background-color: #733D3D;
  color: #C89E90; /* Цвет текста кнопки */
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  cursor: pointer;
}
.div27 {
  position: absolute;
  top: calc(50% + 240px);
  left: calc(50% - 65px);
  width: 200px;
  height: 60px;
}
.div30 {
  position: absolute;
  top: calc(50% + 10px);
  left: calc(50% + 30px);
  width: 200px;
  height: 60px;
}
.b21 {
  position: absolute;
  top: calc(50% + 10px);
  left: calc(50% - 200px);
  font-size: var(--font-size-xl);
  display: flex;
  color: var(--color-black);
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 60px;
}
.div29 {
  position: absolute;
  top: calc(50% - 498px);
  left: calc(50% + 247px);
  width: 460px;
  height: 60px;
}
.child3 {
  position: relative;
  border-top: 1px solid var(--color-sienna);
  box-sizing: border-box;
  width: 361px;
  height: 1px;
}
.div32 {
  position: absolute;
  top: 25px;
  left: 0px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-height: 400px;
}
.e-mail3 {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--font-size-xl);
  display: inline-block;
  text-align: left;
  width: 360px;
  height: 25px;
}
.b22 {
  position: absolute;
  top: 19%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--font-size-xl);
  display: inline-block;
  text-align: left;
  width: 360px;
  height: 25px;
}
.b23 {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--font-size-xl);
  display: inline-block;
  text-align: left;
  width: 360px;
  height: 25px;
}
.b24 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--font-size-xl);
  display: inline-block;
  text-align: left;
  width: 360px;
  height: 25px;
}
.b25 {
  position: absolute;
  top: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--font-size-xl);
  display: inline-block;
  text-align: left;
  width: 360px;
  height: 25px;
}
.b26 {
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--font-size-xl);
  display: inline-block;
  text-align: left;
  width: 360px;
  height: 25px;
}
.b27 {
  position: absolute;
  top: 97%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--font-size-xl);
  display: inline-block;
  text-align: left;
  width: 360px;
  height: 25px;
}

.body {
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 150px);
  width: 360px;
  height: 425px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
}
.div26 {
  position: relative;
  background-color: #FFE4DB;
  width: 100%;
  height: 100vh; /* Изменено на относительное значение vh */
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-rosybrown);
  font-family: var(--font-inter);
}
