.registration-error-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 228, 219, 0.9); /* Красный цвет с прозрачностью */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .registration-error-container {
    background-color: #FFE4DB;
    width: 360px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .registration-error-title {
    font-size: 1.5rem;
    color: red;
  }
  
  .registration-error-message {
    font-size: 1rem;
    color: var(--color-gray);
    margin-bottom: 20px;
  }
  
  .registration-error-close-btn {
    background-color: #733D3D;
    color: #C89E90;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1rem;
  }
  